Package: com.huayuarc.akarafix
Name: AkaraFix
Version: 1.0.0
Architecture: iphoneos-arm
Description: Fixes Akara gesture race crashes and residual bottom grabber lines on iOS 15-16.
Maintainer: Huayuarc
Author: Huayuarc
Section: Tweaks
Depends: mobilesubstrate, xyz.cypwn.akara (>= 2.0.2k)
Conflicts: com.huayuarc.akarafix.legacy
