Package: com.huayuarc.applowpower
Name: 指定应用低功耗
Author: Huayuarc
Description: 在设置中选择应用，进入所选应用直接重建 thermalmonitord 立即启用低功耗调度，退出前台或返回桌面立刻恢复系统原生频率。注入 SpringBoard 识别前台应用，并在 thermalmonitord 内限制 CPU 功率预算。
Depends: firmware (>= 15.0), mobilesubstrate, preferenceloader
Maintainer: Huayuarc
Section: Tweaks
Icon: https://huayuarc.github.io/icon/cputhermal.png
Architecture: iphoneos-arm
Version: 1.0.2
