<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerCellClass</key>
			<string>SdrHeaderCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>应用打开/关闭</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>isSpeedEnable</string>
			<key>label</key>
			<string>速度</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>id</key>
			<string>1</string>
			<key>key</key>
			<string>isFineTuneSpeedEnable</string>
			<key>label</key>
			<string>微调速度</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>id</key>
			<string>2</string>
			<key>key</key>
			<string>Speedvalue</string>
			<key>validTitles</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
			</array>
			<key>validValues</key>
			<array>
				<real>1</real>
				<real>2</real>
				<real>3</real>
				<real>4</real>
				<real>5</real>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.050000000000000003</real>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>id</key>
			<string>3</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>FineTuneSpeedValue</string>
			<key>max</key>
			<real>0.40000000000000002</real>
			<key>min</key>
			<real>0.050000000000000003</real>
			<key>showValue</key>
			<false/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>isBounceEnable</string>
			<key>label</key>
			<string>弹跳</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>isFineTuneBounceEnable</string>
			<key>label</key>
			<string>微调弹跳</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<real>1</real>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>id</key>
			<string>4</string>
			<key>key</key>
			<string>Bouncevalue</string>
			<key>validTitles</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
				<string>4</string>
				<string>5</string>
			</array>
			<key>validValues</key>
			<array>
				<real>1</real>
				<real>2</real>
				<real>3</real>
				<real>4</real>
				<real>5</real>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.20000000000000001</real>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>id</key>
			<string>5</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>FineTuneBounceValue</string>
			<key>max</key>
			<real>1</real>
			<key>min</key>
			<real>0.20000000000000001</real>
			<key>showValue</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerAlignment</key>
			<integer>1</integer>
			<key>footerText</key>
			<string>*有轻微副作用</string>
			<key>label</key>
			<string>应用内动画</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>InAppAnimationEnabled</string>
			<key>label</key>
			<string>应用内速度</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.0</real>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>DurationMassValue</string>
			<key>max</key>
			<real>0.98999999999999999</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<false/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>isInAppBounceEnabled</string>
			<key>label</key>
			<string>弹跳</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.0</real>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>DampingValue</string>
			<key>max</key>
			<real>0.90000000000000002</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>文件夹打开/关闭</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>isFolderAnimationEnabled</string>
			<key>label</key>
			<string>文件夹速度</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.0</real>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>FolderMassValue</string>
			<key>max</key>
			<real>0.90000000000000002</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<false/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>isFolderBounceEnabled</string>
			<key>label</key>
			<string>弹跳</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.0</real>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>FolderDampingValue</string>
			<key>max</key>
			<real>0.90000000000000002</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>屏幕关闭/打开（无需注销）</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>isScreensleepEnable</string>
			<key>label</key>
			<string>屏幕关闭速度</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.01</real>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>Screensleepvalue</string>
			<key>max</key>
			<real>0.90000000000000002</real>
			<key>min</key>
			<real>0.01</real>
			<key>showValue</key>
			<false/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>isScreenwakeEnable</string>
			<key>label</key>
			<string>屏幕打开速度</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>2</real>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>Screenwakevalue</string>
			<key>max</key>
			<real>100</real>
			<key>min</key>
			<real>2</real>
			<key>showValue</key>
			<false/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>系统增强</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>lsBlockEnabled</string>
			<key>label</key>
			<string>通知不亮锁屏</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>lsBlockMode</string>
			<key>validTitles</key>
			<array>
				<string>低电模式</string>
				<string>静音模式</string>
				<string>始终不亮</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>disableAppLibrary</string>
			<key>label</key>
			<string>禁用 App 资源库</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>disableFlashlight</string>
			<key>label</key>
			<string>禁用锁屏手电筒图标</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>disableCamera</string>
			<key>label</key>
			<string>禁用锁屏相机图标</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>disableLockScreenCamera</string>
			<key>label</key>
			<string>禁用锁屏相机按钮</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>disableCameraShutterSound</string>
			<key>label</key>
			<string>禁用相机快门声</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>removeUnlockDelay</string>
			<key>label</key>
			<string>移除解锁动画延迟</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>inCallUnlocked</string>
			<key>label</key>
			<string>锁屏来电拒接按钮</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>appOpenAnimationDirection</string>
			<key>label</key>
			<string>应用打开动画方向</string>
			<key>validTitles</key>
			<array>
				<string>默认动画</string>
				<string>从右向左</string>
				<string>从左向右</string>
				<string>从上向下</string>
				<string>从下向上</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>disconnectWiFiBT</string>
			<key>label</key>
			<string>彻关Wi-Fi蓝牙</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>lockWhenFaceDown</string>
			<key>label</key>
			<string>设备朝下自动锁屏</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>hideKeyboardGlobe</string>
			<key>label</key>
			<string>隐藏键盘地球图标</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>hideKeyboardDictation</string>
			<key>label</key>
			<string>隐藏键盘语音图标</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>bypassChargerCheck</string>
			<key>label</key>
			<string>绕过充电器检测</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>开启后支持网格后台和画中画等功能。</string>
			<key>label</key>
			<string>iPad 功能</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>gridSwitcherEnabled</string>
			<key>label</key>
			<string>iPhone仿iPad后台</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>窗口尺寸：控制后台卡片缩放比例，数值越小窗口越小。</string>
			<key>label</key>
			<string>窗口尺寸</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.29999999999999999</real>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>gridScale</string>
			<key>label</key>
			<string>窗口尺寸</string>
			<key>max</key>
			<real>0.59999999999999998</real>
			<key>min</key>
			<real>0.10000000000000001</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>左右间距：控制后台卡片之间的横向间隔。</string>
			<key>label</key>
			<string>左右间距</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>10</real>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>gridHorizontalSpacing</string>
			<key>label</key>
			<string>左右间距</string>
			<key>max</key>
			<real>50</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>上下间距：控制后台卡片之间的纵向间隔。</string>
			<key>label</key>
			<string>上下间距</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>80</real>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>gridVerticalSpacing</string>
			<key>label</key>
			<string>上下间距</string>
			<key>max</key>
			<real>150</real>
			<key>min</key>
			<real>20</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>pictureInPicture</string>
			<key>label</key>
			<string>画中画</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Dock 设置</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>ipadDock</string>
			<key>label</key>
			<string>iPad Dock</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>inAppDock</string>
			<key>label</key>
			<string>应用内 Dock</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>recentApp</string>
			<key>label</key>
			<string>最近应用</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>transparentDock</string>
			<key>label</key>
			<string>透明 Dock 背景</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Cyanide 系统工具</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>cyanide_disableOTA</string>
			<key>label</key>
			<string>禁用 OTA 更新</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>cyanide_muteCallRecord</string>
			<key>label</key>
			<string>通话录音提示音静音</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>cyanide_nanoRegistry</string>
			<key>label</key>
			<string>Watch 配对兼容</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>ProMotion 120Hz</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>proMotion120Enabled</string>
			<key>label</key>
			<string>强制 120Hz 刷新率</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>高级</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>disableSignatureCheck</string>
			<key>label</key>
			<string>禁用企业签名验证</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>autoDismissFaceID</string>
			<key>label</key>
			<string>自动解锁面容ID</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>disableLockSound</string>
			<key>label</key>
			<string>关闭锁屏/解锁声音</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>附加</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>nofly</string>
			<key>label</key>
			<string>解锁图标飞入</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>noshaking</string>
			<key>label</key>
			<string>图标编辑抖动</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>nozoom</string>
			<key>label</key>
			<string>切换器主屏幕缩放</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>noWPzoom</string>
			<key>label</key>
			<string>切换器壁纸缩放</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>cellClass</key>
			<string>SpeedsterSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>即时文件夹</string>
			<key>label</key>
			<string>即时文件夹</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>屏蔽录屏/直播倒计时-LaYii 开发者</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.hoangdus.speedsterprefs-updated</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.hoangdus.speedsterprefs</string>
			<key>key</key>
			<string>noRecordingCountdown</string>
			<key>label</key>
			<string>去除录屏和直播三秒倒计时</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>注销以应用更改</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>注销</string>
		</dict>
	</array>
</dict>
</plist>
