Package: com.huayuarc.cputhermal
Name: CPU 解除温控
Author: Huayuarc
Description: 注入 thermalmonitord 的 iOS 温控管理插件。双防护层架构：IOKit 层拦截传感器温度读取 CPMS 功率目标设定。支持双功率模式：「满血」解除全部温控限制，「低功耗」兼顾省电与性能。
Depends: mobilesubstrate, preferenceloader, com.opa334.ccsupport
Maintainer: Huayuarc
Section: Tweaks
Icon: https://huayuarc.github.io/icon/cputhermal.png
Sileodepiction: https://huayuarc.github.io/sileodepiction/CPUthermal/js.json
Architecture: iphoneos-arm
Version: 1.6.0-10
