<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CCSModuleSize</key>
	<dict>
		<key>Portrait</key>
		<dict>
			<key>Width</key>
			<integer>1</integer>
			<key>Height</key>
			<integer>1</integer>
		</dict>
		<key>Landscape</key>
		<dict>
			<key>Width</key>
			<integer>1</integer>
			<key>Height</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>ModuleSize</key>
	<dict>
		<key>Portrait</key>
		<dict>
			<key>Width</key>
			<integer>1</integer>
			<key>Height</key>
			<integer>1</integer>
		</dict>
		<key>Landscape</key>
		<dict>
			<key>Width</key>
			<integer>1</integer>
			<key>Height</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleDisplayName</key>
	<string>記錄生活</string>
	<key>CFBundleExecutable</key>
	<string>SneakyCamCCVideo</string>
	<key>CFBundleIdentifier</key>
	<string>com.huayuarc.sneakycam.ccvideo</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>記錄生活</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.35</string>
	<key>CFBundleVersion</key>
	<string>2.0.35</string>
	<key>MinimumOSVersion</key>
	<string>15.0</string>
	<key>NSPrincipalClass</key>
	<string>SneakyCamCCVideo</string>
	<key>GetModuleSizeAtRuntime</key>
	<false/>
	<key>CCSGetModuleSizeAtRuntime</key>
	<false/>
	<key>CFBundleIconFile</key>
	<string>SettingsIcon.png</string>
	<key>CCSettingsIconName</key>
	<string>SettingsIcon</string>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
</dict>
</plist>
