Package: com.huayuarc.jade
Name: Jade
Version: 1.0.5
Section: Tweaks
Maintainer: Nightwind & thetimeloop
Author: Nightwind & thetimeloop
Depends: mobilesubstrate (>= 0.9.5000), com.opa334.ccsupport, com.mrgcgamer.libgcuniversal, preferenceloader, firmware (>= 14.0)
Architecture: iphoneos-arm
Description: 控制中心
