<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>桌面增强</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cyanide_appSwitcherGrid</string>
			<key>label</key>
			<string>网格多任务</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cyanide_sbCustomizer</string>
			<key>label</key>
			<string>主屏幕自定义</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>4</integer>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cyanide_sbColumns</string>
			<key>label</key>
			<string>图标列数</string>
			<key>min</key>
			<integer>3</integer>
			<key>max</key>
			<integer>8</integer>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>6</integer>
			<key>segmentValues</key>
			<array>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>4</integer>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cyanide_sbDockIcons</string>
			<key>label</key>
			<string>Dock 图标数</string>
			<key>min</key>
			<integer>1</integer>
			<key>max</key>
			<integer>10</integer>
			<key>isSegmented</key>
			<true/>
			<key>segmentCount</key>
			<integer>10</integer>
			<key>segmentValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
				<integer>7</integer>
				<integer>8</integer>
				<integer>9</integer>
				<integer>10</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cyanide_sbHideLabels</string>
			<key>label</key>
			<string>隐藏图标标签</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cyanide_gravity</string>
			<key>label</key>
			<string>图标重力动画</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.5</real>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cyanide_gravityStrength</string>
			<key>label</key>
			<string>重力强度</string>
			<key>min</key>
			<real>0.1</real>
			<key>max</key>
			<real>5.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>界面浮层</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cyanide_statBar</string>
			<key>label</key>
			<string>系统状态浮层</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cyanide_statBarShowCPU</string>
			<key>label</key>
			<string>显示 CPU</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cyanide_statBarShowNet</string>
			<key>label</key>
			<string>显示网速</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cyanide_statBarShowLabels</string>
			<key>label</key>
			<string>显示标签</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cyanide_nsBar</string>
			<key>label</key>
			<string>实时网速浮层</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cyanide_rssi</string>
			<key>label</key>
			<string>实时信号强度(dBm)</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>系统工具</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cyanide_hideHomeBar</string>
			<key>label</key>
			<string>隐藏主屏幕横条</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cyanide_disableOTA</string>
			<key>label</key>
			<string>禁用 OTA 更新</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cyanide_muteCallRecord</string>
			<key>label</key>
			<string>谨言通话录音提示音</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cyanide_nanoRegistry</string>
			<key>label</key>
			<string>Watch 配对兼容</string>
		</dict>
	</array>
	<key>title</key>
	<string>Cyanide 增强功能</string>
</dict>
</plist>
