<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Cyanide 全部功能完美移植到 Systempro，启用后立即生效，部分功能需注销。</string>
			<key>label</key>
			<string>Cyanide 移植功能</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cld_appSwitcherGrid</string>
			<key>label</key>
			<string>应用切换器网格</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cld_callRecordMute</string>
			<key>label</key>
			<string>通话录音静音</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cld_killAllApps</string>
			<key>label</key>
			<string>一键杀所有后台</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cld_powercuffEnabled</string>
			<key>label</key>
			<string>热节流模拟（省电）</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cld_layoutEnabled</string>
			<key>label</key>
			<string>图标间距缩放</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cld_sbCustomizerEnabled</string>
			<key>label</key>
			<string>桌面网格自定义</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cld_nsbarEnabled</string>
			<key>label</key>
			<string>网络速度条</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cld_statbarEnabled</string>
			<key>label</key>
			<string>系统状态监视</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cld_gravityEnabled</string>
			<key>label</key>
			<string>图标物理效果</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cld_livewpEnabled</string>
			<key>label</key>
			<string>视频动态壁纸</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cld_nicebarEnabled</string>
			<key>label</key>
			<string>状态栏多插槽文本</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cld_snowboardEnabled</string>
			<key>label</key>
			<string>图标主题引擎</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cld_locationEnabled</string>
			<key>label</key>
			<string>GPS 位置模拟</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cld_nanoEnabled</string>
			<key>label</key>
			<string>解除 Apple Watch 配对限制</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cld_otaEnabled</string>
			<key>label</key>
			<string>禁用 OTA 更新</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>cld_axonliteEnabled</string>
			<key>label</key>
			<string>通知聚合徽章</string>
		</dict>
	</array>
	<key>title</key>
	<string>Cyanide 移植</string>
</dict>
</plist>
