<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>group</string>
            <key>label</key>
            <string>日期 / 时间格式</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_statusBarDateTimeEnabled</string>
            <key>label</key>
            <string>自定义日期/时间</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>default</key>
            <string>MM/dd</string>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_statusBarDateFormat</string>
            <key>label</key>
            <string>日期格式</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>default</key>
            <string>HH:mm</string>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_statusBarTimeFormat</string>
            <key>label</key>
            <string>时间格式</string>
        </dict>
    </array>
    <key>title</key>
    <string>日期 / 时间</string>
</dict>
</plist>
