<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>系统功能</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>disableAppLibrary</string>
			<key>label</key>
			<string>禁用 App 资源库</string>
			<key>PostNotification</key>
			<string>com.huayuarc.systempro.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>disableSignatureCheck</string>
			<key>label</key>
			<string>禁用签名验证</string>
			<key>PostNotification</key>
			<string>com.huayuarc.systempro.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>transparentDock</string>
			<key>label</key>
			<string>透明 Dock</string>
			<key>PostNotification</key>
			<string>com.huayuarc.systempro.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>disableFlashlight</string>
			<key>label</key>
			<string>禁用锁屏手电筒</string>
			<key>PostNotification</key>
			<string>com.huayuarc.systempro.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>disableCamera</string>
			<key>label</key>
			<string>禁用锁屏相机</string>
			<key>PostNotification</key>
			<string>com.huayuarc.systempro.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>disableScreenshotDetection</string>
			<key>label</key>
			<string>屏蔽截图检测</string>
			<key>PostNotification</key>
			<string>com.huayuarc.systempro.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>disableCameraShutterSound</string>
			<key>label</key>
			<string>禁用相机快门声</string>
			<key>PostNotification</key>
			<string>com.huayuarc.systempro.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>autoDismissFaceID</string>
			<key>label</key>
			<string>自动解锁面容</string>
			<key>PostNotification</key>
			<string>com.huayuarc.systempro.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>disableLockSound</string>
			<key>label</key>
			<string>关闭锁屏/解锁声音</string>
			<key>PostNotification</key>
			<string>com.huayuarc.systempro.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>removeUnlockDelay</string>
			<key>label</key>
			<string>移除解锁动画延迟</string>
			<key>PostNotification</key>
			<string>com.huayuarc.systempro.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>inCallUnlocked</string>
			<key>label</key>
			<string>锁屏来电可操作</string>
			<key>PostNotification</key>
			<string>com.huayuarc.systempro.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>disconnectWiFiBT</string>
			<key>label</key>
			<string>彻底关闭Wi-Fi/蓝牙</string>
			<key>PostNotification</key>
			<string>com.huayuarc.systempro.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>lowPowerOnLock</string>
			<key>label</key>
			<string>锁屏自动低电量</string>
			<key>PostNotification</key>
			<string>com.huayuarc.systempro.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>lockWhenFaceDown</string>
			<key>label</key>
			<string>朝下自动锁屏</string>
			<key>PostNotification</key>
			<string>com.huayuarc.systempro.prefschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>appOpenAnimationDirection</string>
			<key>label</key>
			<string>应用打开动画方向</string>
			<key>PostNotification</key>
			<string>com.huayuarc.systempro.prefschanged</string>
		</dict>
	</array>
	<key>title</key>
	<string>系统功能</string>
</dict>
</plist>
