<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>group</string>
            <key>label</key>
            <string>锁定手势</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_doubleTapToLock</string>
            <key>label</key>
            <string>双击锁屏</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_longPressToLock</string>
            <key>label</key>
            <string>长按锁屏</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>group</string>
            <key>label</key>
            <string>应用切换器</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_killBackgroundLongPress</string>
            <key>label</key>
            <string>一键杀后台（长按）</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>group</string>
            <key>label</key>
            <string>电源管理</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_hideChargingAlert</string>
            <key>label</key>
            <string>隐藏充电提醒</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_hideLowBatteryAlert</string>
            <key>label</key>
            <string>隐藏低电量提醒</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>group</string>
            <key>label</key>
            <string>锁屏</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_noLockAfterRespring</string>
            <key>label</key>
            <string>注销后不锁屏</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_dontLockAfterCrash</string>
            <key>label</key>
            <string>崩溃后不锁屏</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>group</string>
            <key>label</key>
            <string>文件夹</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_enableFolder4x4</string>
            <key>label</key>
            <string>文件夹 4x4 布局</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_closeFolderAfterAppLaunch</string>
            <key>label</key>
            <string>启动应用后关闭文件夹</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>group</string>
            <key>label</key>
            <string>动画</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_iconsFlyIn</string>
            <key>label</key>
            <string>图标飞入动画</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_magicInteractionAnimation</string>
            <key>label</key>
            <string>灵动交互动画</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_forceZoomToSystemAperture</string>
            <key>label</key>
            <string>强制缩放到灵动岛</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>group</string>
            <key>label</key>
            <string>屏幕录制</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_screenRecordingDND</string>
            <key>label</key>
            <string>录屏时开启勿扰模式</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>group</string>
            <key>label</key>
            <string>其他</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_openAppsAsPad</string>
            <key>label</key>
            <string>以 Pad 模式打开应用</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_springBoardRestartAnimation</string>
            <key>label</key>
            <string>SpringBoard 重启动画</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_touch3DAcceleration</string>
            <key>label</key>
            <string>3D Touch 加速</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSliderCell</string>
            <key>default</key>
            <real>1.0</real>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_homeIconScale</string>
            <key>label</key>
            <string>主屏幕图标缩放</string>
            <key>min</key>
            <real>0.5</real>
            <key>max</key>
            <real>1.5</real>
            <key>showValue</key>
            <true/>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSEditTextCell</string>
            <key>default</key>
            <string></string>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_fakeBatteryPercent</string>
            <key>label</key>
            <string>虚拟电池百分比</string>
        </dict>
    </array>
    <key>title</key>
    <string>通用</string>
</dict>
</plist>
