<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>cell</key>
            <string>group</string>
            <key>label</key>
            <string>主屏幕</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_hideHomeBar</string>
            <key>label</key>
            <string>隐藏 Home Bar</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_hideHomePageDots</string>
            <key>label</key>
            <string>隐藏主屏幕页面点</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_hideHomeIconLabels</string>
            <key>label</key>
            <string>隐藏图标标签</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_hideIconDotLabels</string>
            <key>label</key>
            <string>隐藏图标圆点标签</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_hideWidgetLabels</string>
            <key>label</key>
            <string>隐藏 Widget 标签</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_hideAllBadges</string>
            <key>label</key>
            <string>隐藏所有角标</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>group</string>
            <key>label</key>
            <string>状态栏</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_hideStatusBarBreadcrumb</string>
            <key>label</key>
            <string>隐藏状态栏面包屑</string>
        </dict>
        <dict>
            <key>cell</key>
            <string>PSSwitchCell</string>
            <key>default</key>
            <false/>
            <key>defaults</key>
            <string>com.huayuarc.systempro</string>
            <key>key</key>
            <string>sb_hideLockScreenControlCenterGrabber</string>
            <key>label</key>
            <string>隐藏锁屏控制中心把手</string>
        </dict>
    </array>
    <key>title</key>
    <string>隐藏</string>
</dict>
</plist>
