<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>iPad 功能需要注销后完整生效。</string>
			<key>label</key>
			<string>iPad 功能</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>启用后生效 PHONE 仿 iPad 后台布局；关闭时保持系统默认后台。下面三项分别用于调整窗口尺寸、左右间距、上下间距。推荐设置窗口尺寸：0.36 - 左右间距：38.3 - 上下间距：56.2</string>
			<key>label</key>
			<string>iPhone仿iPad后台</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>gridSwitcherEnabled</string>
			<key>label</key>
			<string>启用后台布局</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>窗口尺寸：控制后台卡片缩放比例，数值越小窗口越小。</string>
			<key>key</key>
			<string>gridScaleGroup</string>
			<key>label</key>
			<string>窗口尺寸</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.29999999999999999</real>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>gridScale</string>
			<key>label</key>
			<string>窗口尺寸</string>
			<key>max</key>
			<real>0.59999999999999998</real>
			<key>min</key>
			<real>0.10000000000000001</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>左右间距：控制后台卡片之间的横向间隔。</string>
			<key>key</key>
			<string>gridHorizontalSpacingGroup</string>
			<key>label</key>
			<string>左右间距</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>10</real>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>gridHorizontalSpacing</string>
			<key>label</key>
			<string>左右间距</string>
			<key>max</key>
			<real>50</real>
			<key>min</key>
			<real>0.0</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>上下间距：控制后台卡片之间的纵向间隔。</string>
			<key>key</key>
			<string>gridVerticalSpacingGroup</string>
			<key>label</key>
			<string>上下间距</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>80</real>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>gridVerticalSpacing</string>
			<key>label</key>
			<string>上下间距</string>
			<key>max</key>
			<real>150</real>
			<key>min</key>
			<real>20</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>pictureInPicture</string>
			<key>label</key>
			<string>画中画</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Dock 设置</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>ipadDock</string>
			<key>label</key>
			<string>iPad Dock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>inAppDock</string>
			<key>label</key>
			<string>应用内 Dock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>recentApp</string>
			<key>label</key>
			<string>最近应用</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>部分应用需要配合 iPad 样式才可使用分屏/侧拉功能。</string>
			<key>label</key>
			<string>应用样式</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>iPadMultitask</string>
			<key>label</key>
			<string>分屏/侧拉</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>screenMode</string>
			<key>validTitles</key>
			<array>
				<string>iPad</string>
				<string>正常</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>action</key>
			<string>restartRenderServices</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>isDestructive</key>
			<true/>
			<key>label</key>
			<string>✓ 注销</string>
		</dict>
	</array>
	<key>title</key>
	<string>iPad 功能</string>
</dict>
</plist>
