<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>iPad 功能需要注销后完整生效。</string>
			<key>label</key>
			<string>iPad 功能</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>仿 iPad 后台窗口布局，可自定义窗口大小和间距。</string>
			<key>label</key>
			<string>iPhone仿iPad后台</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.3</real>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>gridScale</string>
			<key>label</key>
			<string>窗口大小</string>
			<key>min</key>
			<real>0.1</real>
			<key>max</key>
			<real>0.6</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>10</real>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>gridHorizontalSpacing</string>
			<key>label</key>
			<string>左右间距</string>
			<key>min</key>
			<real>0</real>
			<key>max</key>
			<real>50</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>80</real>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>gridVerticalSpacing</string>
			<key>label</key>
			<string>上下间距</string>
			<key>min</key>
			<real>20</real>
			<key>max</key>
			<real>150</real>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>pictureInPicture</string>
			<key>label</key>
			<string>画中画</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Dock 设置</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>ipadDock</string>
			<key>label</key>
			<string>iPad Dock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>inAppDock</string>
			<key>label</key>
			<string>应用内 Dock</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>recentApp</string>
			<key>label</key>
			<string>最近应用</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>部分应用需要配合 iPad 样式才可使用分屏/侧拉功能。</string>
			<key>label</key>
			<string>应用样式</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>iPadMultitask</string>
			<key>label</key>
			<string>分屏/侧拉</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>screenMode</string>
			<key>validTitles</key>
			<array>
				<string>iPad</string>
				<string>正常</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>action</key>
			<string>restartRenderServices</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>isDestructive</key>
			<true/>
			<key>label</key>
			<string>✓ 注销</string>
		</dict>
	</array>
	<key>title</key>
	<string>iPad 功能</string>
</dict>
</plist>
