Package: com.cpdigitaldarkroom.itsevanesco
Name: Evanesco!
Version: 2024.05.26-7
Architecture: iphoneos-arm
Description: Clear Your Homescreen After Inactivity, native modern ABI rebuild
Maintainer: Huayuarc
Author: CP Digital Darkroom / Randy420
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate, preferenceloader
Conflicts: com.cpdigitaldarkroom.evanesco, com.1conan.evanescoxi, com.randy420.evanescocc
