<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>title</key>
	<string>Ntonia-PreferenceLoader</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>媒体卡片设置会在下一次下拉时立即生效。</string>
		</dict>
		<dict>
			<key>label</key>
			<string>启用插件</string>
			<key>key</key>
			<string>EnabledPerfectGrabber</string>
			<key>default</key>
			<false/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.netskao.perfectgrabber</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>PostNotification</key>
			<string>com.netskao.perfectgrabber.settingschanged</string>
		</dict>
		<dict>
			<key>label</key>
			<string>震动反馈</string>
			<key>key</key>
			<string>VibrationFeedback</string>
			<key>default</key>
			<true/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.netskao.perfectgrabber</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>PostNotification</key>
			<string>com.netskao.perfectgrabber.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerText</key>
			<string>触发方式</string>
		</dict>
		<dict>
			<key>label</key>
			<string>下拉时显示媒体卡片</string>
			<key>key</key>
			<string>ShowOnSwipeUp</string>
			<key>default</key>
			<true/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.netskao.perfectgrabber</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>PostNotification</key>
			<string>com.netskao.perfectgrabber.settingschanged</string>
		</dict>
		<dict>
			<key>label</key>
			<string>媒体卡片自动关闭</string>
			<key>key</key>
			<string>AutoCloseDelay</string>
			<key>default</key>
			<integer>6</integer>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>1秒</string>
				<string>2秒</string>
				<string>3秒</string>
				<string>4秒</string>
				<string>5秒</string>
				<string>6秒</string>
			</array>
			<key>values</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
			</array>
			<key>titles</key>
			<array>
				<string>1秒</string>
				<string>2秒</string>
				<string>3秒</string>
				<string>4秒</string>
				<string>5秒</string>
				<string>6秒</string>
			</array>
			<key>defaults</key>
			<string>com.netskao.perfectgrabber</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>PostNotification</key>
			<string>com.netskao.perfectgrabber.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerText</key>
			<string>显示</string>
		</dict>
		<dict>
			<key>label</key>
			<string>使用 12 小时制</string>
			<key>key</key>
			<string>Disable24H</string>
			<key>default</key>
			<false/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.netskao.perfectgrabber</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>PostNotification</key>
			<string>com.netskao.perfectgrabber.settingschanged</string>
		</dict>
		<dict>
			<key>label</key>
			<string>充电图标</string>
			<key>key</key>
			<string>ChargingIcon</string>
			<key>default</key>
			<true/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.netskao.perfectgrabber</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>PostNotification</key>
			<string>com.netskao.perfectgrabber.settingschanged</string>
		</dict>
		<dict>
			<key>label</key>
			<string>布局样式</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>PerfectGrabberSettingsController</string>
			<key>PGChoiceKey</key>
			<string>GrabberStyle</string>
			<key>PGChoiceTitleKey</key>
			<string>布局样式</string>
		</dict>
		<dict>
			<key>label</key>
			<string>字体样式</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>detail</key>
			<string>PerfectGrabberSettingsController</string>
			<key>PGChoiceKey</key>
			<string>FontStyle</string>
			<key>PGChoiceTitleKey</key>
			<string>字体样式</string>
		</dict>
		<dict>
			<key>label</key>
			<string>文字颜色</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>chooseTextColor</string>
		</dict>
		<dict>
			<key>label</key>
			<string>时间·温度·电量字体大小</string>
			<key>key</key>
			<string>StatusFontSize</string>
			<key>default</key>
			<real>15.0</real>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>min</key>
			<real>11.0</real>
			<key>max</key>
			<real>20.0</real>
			<key>showValue</key>
			<true/>
			<key>defaults</key>
			<string>com.netskao.perfectgrabber</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>PostNotification</key>
			<string>com.netskao.perfectgrabber.settingschanged</string>
		</dict>
		<dict>
			<key>label</key>
			<string>状态信息位置</string>
			<key>key</key>
			<string>StatusPosition</string>
			<key>default</key>
			<integer>0</integer>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>音乐下方</string>
				<string>音乐上方</string>
			</array>
			<key>values</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
			<key>titles</key>
			<array>
				<string>音乐下方</string>
				<string>音乐上方</string>
			</array>
			<key>defaults</key>
			<string>com.netskao.perfectgrabber</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>PostNotification</key>
			<string>com.netskao.perfectgrabber.settingschanged</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerText</key>
			<string>媒体卡片背景</string>
		</dict>
		<dict>
			<key>label</key>
			<string>启用自定义背景</string>
			<key>key</key>
			<string>EnabledSwipeUpBackgroundColor</string>
			<key>default</key>
			<false/>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>defaults</key>
			<string>com.netskao.perfectgrabber</string>
			<key>get</key>
			<string>readPreferenceValue:</string>
			<key>set</key>
			<string>setPreferenceValue:specifier:</string>
			<key>PostNotification</key>
			<string>com.netskao.perfectgrabber.settingschanged</string>
		</dict>
		<dict>
			<key>label</key>
			<string>媒体卡片背景颜色</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>chooseSwipeUpBackgroundColor</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>headerText</key>
			<string>操作</string>
		</dict>
		<dict>
			<key>label</key>
			<string>恢复默认设置</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>onResetSettings</string>
		</dict>
		<dict>
			<key>label</key>
			<string>注销桌面</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>action</key>
			<string>onRespring</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Ntonia-PreferenceLoader 1.1-22</string>
		</dict>
	</array>
</dict>
</plist>
