Package: com.platykor.tenmetsu
Name: Tenmetsu
Version: 2.1
Section: Tweaks
Architecture: iphoneos-arm
Depends: mobilesubstrate (>= 0.9.5000), firmware (>= 14.0)
Author: Plat-Ykor <plat-ykor@libero.it>
Maintainer: Plat-Ykor <plat-ykor@libero.it>
Description: Flashlight strobe with adjustable frequency (1-20 Hz)
