<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>控制中心</string>
			<key>footerText</key>
			<string>控制中心相关功能集中放置。</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>disconnectWiFiBT</string>
			<key>label</key>
			<string>彻关 Wi-Fi 蓝牙</string>
		</dict>
	</array>
	<key>title</key>
	<string>控制中心</string>
</dict>
</plist>
