<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>集中放置系统增强功能，启用后立即生效，部分功能可能需要注销。</string>
			<key>label</key>
			<string>系统</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>autoDismissFaceID</string>
			<key>label</key>
			<string>自动解锁面容ID</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>disableScreenshotDetection</string>
			<key>label</key>
			<string>屏蔽截图录制检测</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>transparentDock</string>
			<key>label</key>
			<string>透明 Dock 背景</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>removeUnlockDelay</string>
			<key>label</key>
			<string>移除解锁动画延迟</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>inCallUnlocked</string>
			<key>label</key>
			<string>锁屏来电拒接按钮</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>appOpenAnimationDirection</string>
			<key>label</key>
			<string>应用打开动画方向</string>
			<key>validTitles</key>
			<array>
				<string>默认动画</string>
				<string>从右向左</string>
				<string>从左向右</string>
				<string>从上向下</string>
				<string>从下向上</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>disconnectWiFiBT</string>
			<key>label</key>
			<string>彻关Wi-Fi蓝牙</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>lowPowerOnLock</string>
			<key>label</key>
			<string>锁屏自动低电量</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>lockWhenFaceDown</string>
			<key>label</key>
			<string>设备朝下自动锁屏</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>hideHomeBar</string>
			<key>label</key>
			<string>隐藏 Home Bar</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>doubleTapToLock</string>
			<key>label</key>
			<string>双击锁屏</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>doubleTapToWake</string>
			<key>label</key>
			<string>双击亮屏</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>killAllApps</string>
			<key>label</key>
			<string>一键关闭所有应用</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>disableIconFlyIn</string>
			<key>label</key>
			<string>禁用图标飞入动画</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>zeroWakeAnimation</string>
			<key>label</key>
			<string>零唤醒动画</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>switcherStyle</string>
			<key>label</key>
			<string>应用切换器布局</string>
			<key>validTitles</key>
			<array>
				<string>停用 (Deck)</string>
				<string>网格 (Grid)</string>
				<string>自动 (Auto)</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>4</integer>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>switcherColumns</string>
			<key>label</key>
			<string>网格列数</string>
			<key>validTitles</key>
			<array>
				<string>3 列</string>
				<string>4 列</string>
				<string>5 列</string>
				<string>6 列</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>3</integer>
				<integer>4</integer>
				<integer>5</integer>
				<integer>6</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>switcherInsetTop</string>
			<key>label</key>
			<string>上边距偏移</string>
			<key>validTitles</key>
			<array>
				<string>-30</string>
				<string>-20</string>
				<string>-10</string>
				<string>0</string>
				<string>10</string>
				<string>20</string>
				<string>30</string>
			</array>
			<key>validValues</key>
			<array>
				<real>-30</real>
				<real>-20</real>
				<real>-10</real>
				<real>0.0</real>
				<real>10</real>
				<real>20</real>
				<real>30</real>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>switcherInsetBottom</string>
			<key>label</key>
			<string>下边距偏移</string>
			<key>validTitles</key>
			<array>
				<string>-30</string>
				<string>-20</string>
				<string>-10</string>
				<string>0</string>
				<string>10</string>
				<string>20</string>
				<string>30</string>
			</array>
			<key>validValues</key>
			<array>
				<real>-30</real>
				<real>-20</real>
				<real>-10</real>
				<real>0.0</real>
				<real>10</real>
				<real>20</real>
				<real>30</real>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>switcherInsetLeft</string>
			<key>label</key>
			<string>左边距偏移</string>
			<key>validTitles</key>
			<array>
				<string>-30</string>
				<string>-20</string>
				<string>-10</string>
				<string>0</string>
				<string>10</string>
				<string>20</string>
				<string>30</string>
			</array>
			<key>validValues</key>
			<array>
				<real>-30</real>
				<real>-20</real>
				<real>-10</real>
				<real>0.0</real>
				<real>10</real>
				<real>20</real>
				<real>30</real>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>switcherInsetRight</string>
			<key>label</key>
			<string>右边距偏移</string>
			<key>validTitles</key>
			<array>
				<string>-30</string>
				<string>-20</string>
				<string>-10</string>
				<string>0</string>
				<string>10</string>
				<string>20</string>
				<string>30</string>
			</array>
			<key>validValues</key>
			<array>
				<real>-30</real>
				<real>-20</real>
				<real>-10</real>
				<real>0.0</real>
				<real>10</real>
				<real>20</real>
				<real>30</real>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>key</key>
			<string>hideAppLabels</string>
			<key>label</key>
			<string>隐藏应用图标标签</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>控制 SpringBoard 全局动画速度。修改后可能需要解锁再锁屏才能看到效果。设置为"正常(1x)"时完全无性能开销。</string>
			<key>label</key>
			<string>动画速度</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkListCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>com.huayuarc.systempro</string>
			<key>detail</key>
			<string>PSListItemsController</string>
			<key>key</key>
			<string>animationSpeed</string>
			<key>label</key>
			<string>系统动画速度</string>
			<key>validTitles</key>
			<array>
				<string>极慢 (0.25x)</string>
				<string>慢 (0.5x)</string>
				<string>正常 (1x)</string>
				<string>快 (2x)</string>
				<string>极快 (4x)</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
				<integer>4</integer>
			</array>
		</dict>
	</array>
	<key>title</key>
	<string>系统</string>
</dict>
</plist>
