<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entryClass</key>
	<string>PSListController</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Connectivity Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GcColorPicker</string>
			<key>default</key>
			<string>FFFFFF</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>connectivityInactiveModuleColor</string>
			<key>label</key>
			<string>Inactive Module Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GcColorPicker</string>
			<key>default</key>
			<string>007AFF</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>bluetoothColor</string>
			<key>label</key>
			<string>Bluetooth Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GcColorPicker</string>
			<key>default</key>
			<string>007AFF</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>wifiColor</string>
			<key>label</key>
			<string>WiFi Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GcColorPicker</string>
			<key>default</key>
			<string>FF9500</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>airplaneModeColor</string>
			<key>label</key>
			<string>Airplane Mode Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GcColorPicker</string>
			<key>default</key>
			<string>34C759</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>cellularColor</string>
			<key>label</key>
			<string>Cellular Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GcColorPicker</string>
			<key>default</key>
			<string>FF3B30</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>airDropColor</string>
			<key>label</key>
			<string>AirDrop Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GcColorPicker</string>
			<key>default</key>
			<string>007AFF</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>hotspotColor</string>
			<key>label</key>
			<string>Hotspot Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Options</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>colorConnectivityGlyphsInsteadOfBackgrounds</string>
			<key>label</key>
			<string>Color Glyphs Instead of Backgrounds</string>
		</dict>
	</array>
	<key>title</key>
	<string>Connectivity</string>
	<key>PostNotification</key>
	<string>com.huayuarc.jadeprefs/ReloadPrefs</string>
</dict>
</plist>
