<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entryClass</key>
	<string>PSListController</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>General</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>tweakEnabled</string>
			<key>label</key>
			<string>Tweak Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>isHomeGestureDismissalAllowed</string>
			<key>label</key>
			<string>Home Gesture Dismissal</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>homeGestureEnabled</string>
			<key>label</key>
			<string>Home Gesture Enabled</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>showBackgroundBlur</string>
			<key>label</key>
			<string>Show Background Blur</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Presentation</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>gestureLocation</string>
			<key>label</key>
			<string>Gesture Location</string>
			<key>default</key>
			<integer>1</integer>
			<key>segmentTitles</key>
			<array>
				<string>Left</string>
				<string>Center</string>
				<string>Right</string>
			</array>
			<key>segmentValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.3</real>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>bounceFactor</string>
			<key>label</key>
			<string>Bounce Factor</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>1.0</real>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>animationSpeed</string>
			<key>label</key>
			<string>Animation Speed</string>
			<key>min</key>
			<real>0.1</real>
			<key>max</key>
			<integer>3</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>portraitPresentationOffset</string>
			<key>label</key>
			<string>Portrait Presentation Offset</string>
			<key>min</key>
			<integer>-200</integer>
			<key>max</key>
			<integer>200</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>landscapePresentationOffset</string>
			<key>label</key>
			<string>Landscape Presentation Offset</string>
			<key>min</key>
			<integer>-200</integer>
			<key>max</key>
			<integer>200</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Layout</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>showBatteryWidget</string>
			<key>label</key>
			<string>Show Battery Widget</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>showTimeWidget</string>
			<key>label</key>
			<string>Show Time Widget</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>widgetLayout</string>
			<key>label</key>
			<string>Widget Layout</string>
			<key>default</key>
			<integer>0</integer>
			<key>segmentTitles</key>
			<array>
				<string>Default</string>
				<string>Compact</string>
			</array>
			<key>segmentValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>hideBatteryPercent</string>
			<key>label</key>
			<string>Hide Battery Percent</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>hideGrabber</string>
			<key>label</key>
			<string>Hide Grabber</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>18</integer>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>cornerRadius</string>
			<key>label</key>
			<string>Corner Radius</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>40</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>numberOfScrollablePages</string>
			<key>label</key>
			<string>Number of Scrollable Pages</string>
			<key>default</key>
			<integer>1</integer>
			<key>segmentTitles</key>
			<array>
				<string>1</string>
				<string>2</string>
				<string>3</string>
			</array>
			<key>segmentValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<real>0.8</real>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>backgroundOpacity</string>
			<key>label</key>
			<string>Background Opacity</string>
			<key>min</key>
			<integer>0</integer>
			<key>max</key>
			<integer>1</integer>
			<key>isSegmented</key>
			<false/>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Appearance</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>label</key>
			<string>Main Background Color</string>
			<key>detail</key>
			<string>Theming.plist</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GcImagePickerUtils</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>mainBackgroundImage</string>
			<key>label</key>
			<string>Main Background Image</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>label</key>
			<string>Grabber Background Color</string>
			<key>detail</key>
			<string>IndicatorsTheming.plist</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Modules</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>label</key>
			<string>Connectivity Configuration</string>
			<key>detail</key>
			<string>ConnectivityConfiguration.plist</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>label</key>
			<string>Sliders Configuration</string>
			<key>detail</key>
			<string>SlidersConfiguration.plist</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>label</key>
			<string>Favorite Toggles Configuration</string>
			<key>detail</key>
			<string>FavoriteTogglesConfiguration.plist</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>label</key>
			<string>Module Configuration</string>
			<key>detail</key>
			<string>ModuleConfiguration.plist</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>label</key>
			<string>Media Configuration</string>
			<key>detail</key>
			<string>MediaConfiguration.plist</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>label</key>
			<string>Power Configuration</string>
			<key>detail</key>
			<string>PowerConfiguration.plist</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Theming</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>label</key>
			<string>Connectivity Theming</string>
			<key>detail</key>
			<string>ConnectivityTheming.plist</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>label</key>
			<string>Sliders Theming</string>
			<key>detail</key>
			<string>SlidersTheming.plist</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>label</key>
			<string>Stock Modules Theming</string>
			<key>detail</key>
			<string>StockModulesTheming.plist</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>label</key>
			<string>Custom Modules Theming</string>
			<key>detail</key>
			<string>CustomModulesTheming.plist</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>label</key>
			<string>Media Theming</string>
			<key>detail</key>
			<string>MediaTheming.plist</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>label</key>
			<string>Power Theming</string>
			<key>detail</key>
			<string>PowerTheming.plist</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>label</key>
			<string>Weather Theming</string>
			<key>detail</key>
			<string>WeatherTheming.plist</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>label</key>
			<string>Uptime Theming</string>
			<key>detail</key>
			<string>UptimeTheming.plist</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>label</key>
			<string>Indicators Theming</string>
			<key>detail</key>
			<string>IndicatorsTheming.plist</string>
			<key>isController</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Apply Changes</string>
		</dict>
		<dict>
			<key>action</key>
			<string>killAll</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Kill SpringBoard</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>About</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>label</key>
			<string>Version</string>
			<key>value</key>
			<string>1.0.5</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSTitleValueCell</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>label</key>
			<string>Author</string>
			<key>value</key>
			<string>Nightwind &amp; thetimeloop</string>
		</dict>
		<dict>
			<key>action</key>
			<string>openTwitter</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>label</key>
			<string>Follow @nightwind_dev</string>
		</dict>
	</array>
	<key>title</key>
	<string>Jade</string>
	<key>PostNotification</key>
	<string>com.huayuarc.jadeprefs/ReloadPrefs</string>
</dict>
</plist>
