<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>entryClass</key>
	<string>PSListController</string>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Uptime Colors</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GcColorPicker</string>
			<key>default</key>
			<string>FFFFFF</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>uptimeTextColor</string>
			<key>label</key>
			<string>Uptime Text Color</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>cellClass</key>
			<string>GcColorPicker</string>
			<key>default</key>
			<string>FFFFFF80</string>
			<key>defaults</key>
			<string>com.huayuarc.jadeprefs</string>
			<key>key</key>
			<string>uptimeTimeColor</string>
			<key>label</key>
			<string>Uptime Time Color</string>
		</dict>
	</array>
	<key>title</key>
	<string>Uptime</string>
	<key>PostNotification</key>
	<string>com.huayuarc.jadeprefs/ReloadPrefs</string>
</dict>
</plist>
