<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>The set images and videos will be saved in "/var/jb/var/mobile/Library/PictureModule"
Large videos take a long time to load and use a lot of battery.

</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.4nni3.picturemodule_1/updatePicture</string>
			<key>action</key>
			<string>chooseImage</string>
			<key>cell</key>
			<string>PSLinkCell</string>
			<key>defaults</key>
			<string>com.huayuarc.picturemodule16.4</string>
			<key>key</key>
			<string>type</string>
			<key>label</key>
			<string>Choose Image / Video</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>Widgets in /var/jb/var/mobile/Library/PictureModule/Widgets</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Module Size</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.ccsupport/ReloadSizes</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>com.huayuarc.picturemodule16.4</string>
			<key>isSegmented</key>
			<true/>
			<key>key</key>
			<string>Width</string>
			<key>max</key>
			<real>4.0</real>
			<key>min</key>
			<real>1.0</real>
			<key>segmentCount</key>
			<integer>3</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.opa334.ccsupport/ReloadSizes</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.huayuarc.picturemodule16.4</string>
			<key>isSegmented</key>
			<true/>
			<key>key</key>
			<string>Height</string>
			<key>max</key>
			<real>4.0</real>
			<key>min</key>
			<real>1.0</real>
			<key>segmentCount</key>
			<integer>3</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>How to display the image and the video.
- Cover, Fit:　 fill or fit the space while maintaining the image’s original aspect ratio.
- Fill: 　fill the space without regard to the original aspect ratio.</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Content Mode</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.4nni3.picturemodule_1</string>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>com.huayuarc.picturemodule16.4</string>
			<key>key</key>
			<string>contentMode</string>
			<key>label</key>
			<string>Content Mode</string>
			<key>validTitles</key>
			<array>
				<string>Cover</string>
				<string>Fit</string>
				<string>Fill</string>
			</array>
			<key>validValues</key>
			<array>
				<integer>1</integer>
				<integer>2</integer>
				<integer>3</integer>
			</array>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.4nni3.picturemodule_1</string>
			<key>cell</key>
			<string>PSEditTextCell</string>
			<key>default</key>
			<string></string>
			<key>defaults</key>
			<string>com.huayuarc.picturemodule16.4</string>
			<key>key</key>
			<string>Label</string>
			<key>label</key>
			<string>Label</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.4nni3.picturemodule_1</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.picturemodule16.4</string>
			<key>key</key>
			<string>NoMargin</string>
			<key>label</key>
			<string>No Margin</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.4nni3.picturemodule_1</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.picturemodule16.4</string>
			<key>key</key>
			<string>PixelArt</string>
			<key>label</key>
			<string>Pixel Art</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.4nni3.picturemodule_1</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.picturemodule16.4</string>
			<key>key</key>
			<string>Sound</string>
			<key>label</key>
			<string>Sound</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSStaticTextCell</string>
			<key>label</key>
			<string>Opacity</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.4nni3.picturemodule_1</string>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<integer>100</integer>
			<key>defaults</key>
			<string>com.huayuarc.picturemodule16.4</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>opacity</string>
			<key>max</key>
			<real>100.0</real>
			<key>min</key>
			<real>1.0</real>
			<key>segmentCount</key>
			<integer>1</integer>
			<key>showValue</key>
			<true/>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
		</dict>
		<dict>
			<key>PostNotification</key>
			<string>com.4nni3.picturemodule_1</string>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>com.huayuarc.picturemodule16.4</string>
			<key>key</key>
			<string>idevice</string>
			<key>label</key>
			<string>iDevice Style</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>footerText</key>
			<string>©︎ 2020 4nni3</string>
		</dict>
	</array>
	<key>title</key>
	<string>PictureModule (4)</string>
</dict>
</plist>
