Package: com.huayuarc.cputhermal
Name: CPU 去温控
Depends: mobilesubstrate (>= 0.9.5000), preferenceloader, com.opa334.ccsupport
Version: 3.0.1
Architecture: iphoneos-arm
Description: CPU 温控管理 — 防温控降频 / 低功耗 2016MHz
Maintainer: YAS
Author: huayuarc
Section: Tweaks
