<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>CFBundleIdentifier</key><string>com.cpdigitaldarkroom.itsevanesco.cc</string><key>CFBundleExecutable</key><string>EvanescoCC</string><key>CFBundlePackageType</key><string>BNDL</string><key>NSPrincipalClass</key><string>EvanescoCC</string><key>CFBundleVersion</key><string>2024.05.28</string><key>MinimumOSVersion</key><string>15.0</string><key>CCSModuleSize</key><dict><key>Portrait</key><dict><key>Width</key><integer>1</integer><key>Height</key><integer>1</integer></dict><key>Landscape</key><dict><key>Width</key><integer>1</integer><key>Height</key><integer>1</integer></dict></dict></dict></plist>
