<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>AdSkip 屏蔽广告</string>
			<key>footerText</key>
			<string>在下方开启需要跳过启动广告的应用。应用列表由插件动态生成。</string>
		</dict>
	</array>
</dict>
</plist>
