Package: com.huayuarc.systempro
Name: Systempro
Author: Huayuarc
Description: 通知不亮屏 + 多项系统增强 + 系统工具 + 全屏手势（隐藏横条/禁用OTA/通话录音提示音/Watch配对/iPad特性/状态栏自定义）
Depends: mobilesubstrate, preferenceloader, firmware (>= 14.0)
Maintainer: Huayuarc
Section: Tweaks
Architecture: iphoneos-arm
Version: 1.1.8
