<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>com.apple.magicswitchd.companion</key>
	<true/>
	<key>wiki.qaq.ighostvtd</key>
	<false/>
	<key>com.apple.OTACrashCopier</key>
	<true/>
	<key>com.apple.accessoryupdaterd</key>
	<true/>
	<key>com.apple.instruments.deviceservice</key>
	<false/>
	<key>com.apple.security.otpaird</key>
	<true/>
	<key>com.apple.logd</key>
	<false/>
	<key>com.apple.mobile.NRDUpdated</key>
	<true/>
	<key>com.openssh.sshd</key>
	<false/>
	<key>com.apple.replayd</key>
	<false/>
	<key>ch.xxtou.ngserviced</key>
	<false/>
	<key>com.apple.rtcreportingd</key>
	<true/>
	<key>com.apple.dhcp6d</key>
	<true/>
	<key>com.apple.icloud.findmydeviced</key>
	<false/>
	<key>com.apple.icloud.fmflocatord</key>
	<false/>
	<key>com.apple.logd_helper</key>
	<false/>
	<key>com.apple.crash_mover</key>
	<false/>
	<key>com.apple.bootpd</key>
	<true/>
	<key>cn.zqbb.hello.mnt.daemon</key>
	<true/>
	<key>com.apple.crashreportcopymobile</key>
	<false/>
	<key>ch.xxtou.elfclient</key>
	<false/>
	<key>ch.xxtou.nguiserviced</key>
	<false/>
	<key>com.apple.OTATaskingAgent</key>
	<true/>
	<key>com.apple.ftp-proxy-embedded</key>
	<false/>
	<key>com.apple.mobile.softwareupdated</key>
	<true/>
	<key>com.apple.relevanced</key>
	<true/>
	<key>com.opa334.Dopamine.idownloadd</key>
	<true/>
	<key>com.tigisoftware.filza.helper</key>
	<false/>
	<key>com.apple.ReportCrash</key>
	<false/>
	<key>com.apple.osanalytics.osanalyticshelper</key>
	<false/>
	<key>com.apple.softwareupdateservicesd</key>
	<true/>
	<key>com.apple.sysmond</key>
	<false/>
	<key>com.apple.analyticsd</key>
	<false/>
</dict>
</plist>
