Package: com.huayuarc.adskipselector
Name: AdSkip 应用选择
Version: 3.0.0
Architecture: iphoneos-arm
Description: 跳过启动广告，可在设置中逐应用开启或关闭。
Maintainer: Huayuarc
Author: Huayuarc
Section: Tweaks
Depends: mobilesubstrate, preferenceloader
