Package: byg.iosios.net.sneakycam
Name: SneakyCam隐私相机-Rootless
Version: 2.0.12-1
Architecture: iphoneos-arm
Description: iOS 16 native SneakyCam build for Dopamine rootless and RootHide.
Maintainer: 搬运工 / Huayuarc
Author: Spark
Section: Tweaks
Depends: firmware (>= 16.0), mobilesubstrate, preferenceloader, com.opa334.ccsupport
