Package: com.huayuarc.sneakycam
Name: SneakyCam 隐私相机
Description: iOS 16 native SneakyCam build for Dopamine rootless and RootHide. SneakyCam 是一款支持息屏状态使用拍照或录像的插件。即使在关闭屏幕的情况下，也能随时随地谨慎地拍照或录制视频。控制中心CC模块可一键启用/关闭。视频或者照片默认保存路径：/var/mobile/Downloads
Maintainer: Huayuarc
Author: Spark
Section: Tweaks
Depends: firmware (>= 15.0), mobilesubstrate, preferenceloader, com.opa334.ccsupport
Architecture: iphoneos-arm64
Version: 2.0.37-1
icon: https://huayuarc.github.io/icon/SneakyCam.png
