<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>title</key><string>图片视频模块</string><key>items</key><array>
<dict><key>cell</key><string>PSGroupCell</string><key>label</key><string>模块设置</string><key>footerText</key><string>分别设置五个控制中心图片视频模块。控制中心页面仅用于添加、移除和排序。</string></dict>
<dict><key>cell</key><string>PSLinkCell</string><key>label</key><string>图片视频模块（1）</string><key>detail</key><string>PMModule1PrefsController</string><key>isController</key><true/></dict>
<dict><key>cell</key><string>PSLinkCell</string><key>label</key><string>图片视频模块（2）</string><key>detail</key><string>PMModule2PrefsController</string><key>isController</key><true/></dict>
<dict><key>cell</key><string>PSLinkCell</string><key>label</key><string>图片视频模块（3）</string><key>detail</key><string>PMModule3PrefsController</string><key>isController</key><true/></dict>
<dict><key>cell</key><string>PSLinkCell</string><key>label</key><string>图片视频模块（4）</string><key>detail</key><string>PMModule4PrefsController</string><key>isController</key><true/></dict>
<dict><key>cell</key><string>PSLinkCell</string><key>label</key><string>图片视频模块（5）</string><key>detail</key><string>PMModule5PrefsController</string><key>isController</key><true/></dict>
<dict><key>cell</key><string>PSGroupCell</string><key>footerText</key><string>PictureModule iOS 16 Huayuarc Fix</string></dict>
</array></dict></plist>
