<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>1.0.0</string>
	<key>CFBundleIdentifier</key>
	<string>vip.abc3.heaven.prefs</string>
	<key>MinimumOSVersion</key>
	<string>14.0</string>
	<key>CFBundleName</key>
	<string>HeavenPrefs</string>
	<key>CFBundleDisplayName</key>
	<string>Heaven</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>icon.png</string>
		<string>icon@2x.png</string>
		<string>icon@3x.png</string>
	</array>
	<key>DTPlatformName</key>
	<string>iphoneos</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>zh_CN</string>
	<key>CFBundleExecutable</key>
	<string>HeavenPrefs</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSPrincipalClass</key>
	<string>HeavenRootListController</string>
</dict>
</plist>
