Package: com.huayuarc.picturemodule16
Name: PictureModule 16
Version: 1.1.0
Architecture: iphoneos-arm
Description: PictureModule rebuilt natively for iOS 16 without oldabi.
Maintainer: Huayuarc
Author: Huayuarc
Section: Tweaks
Depends: firmware (>= 16.0), com.opa334.ccsupport
Conflicts: com.4nni3.picturemodule
