Package: com.huayuarc.picturemodule16
Name: 图片模块 16
Version: 1.1.9
Architecture: iphoneos-arm
Description: 适配 iOS 16 的原版风格图片与视频控制中心模块，内置自动互斥注册桥。
Maintainer: Huayuarc
Author: Huayuarc
Section: Tweaks
Depends: firmware (>= 16.0), mobilesubstrate
Conflicts: com.4nni3.picturemodule
